
#wrapper{
	font-family: 'Changa', sans-serif;
}
#contact-us-btn{
	font-family: 'Cairo', sans-serif;

	margin-top:40px;
	max-width: 200px;
}
#container-two{
	font-family: 'Cairo', sans-serif;
	font-weight: bold;
	margin-top: 25px;

	color: #282C72;


}
.welcome-page ul li{
	list-style-type: square;
}
