
#footer-container{
	background: #0D187A;
	padding-top:15px;
	padding-bottom:15px;
	overflow-x: hidden;
}


.footer-nav-ul li{
		
	font-size: 1.3em;
}
.footer-nav-a{
	font-family: 'Yantramanav', sans-serif;
	color: #fff;
	font-size: 1.3em!important;
	list-style-type: none;
}
.footer-nav-a:hover{
	text-decoration: none;
	color: #fff;	

}


.footer-nav-ul{
	padding-left: 20px;
	color: #fff;
	font-family: 'Yantramanav', sans-serif;
	font-size: 0.8em;
}
.footer-nav-ul li a{
	color: #fff;
	text-decoration: none;
}

