#footer-container{
	background: #fff;
	margin-top:100px;
	padding-top:15px;
	padding-bottom:15px;

	border-top: 1px solid #282C72;
}

span{
	display: block;
	margin-top: 0px;
}


.footer-nav-ul-1 {
		
	padding-left: 0px
	
}

.footer-nav-ul-1 li{
		
	font-size: 1em;
	list-style-type: none;

}

.footer-nav-a{
	font-family: 'Yantramanav', sans-serif;
	color: #282C72;
	font-size: 1.1em!important;
	list-style-type: none;
}

.footer-nav-a:hover{
	text-decoration: none;
	color: #282C72;
}

.footer-nav-ul{
	padding-left: 20px;
	color: #282C72;
	font-family: 'Yantramanav', sans-serif;
	font-size: 0.7em;
}

.footer-nav-ul li a{
	color: #282C72;
	text-decoration: none;
}

@media only screen and(max-width: 992px){
	#footer-container > div > span > div.col-xs-8.col-xs-offset-4.col-sm-4.col-sm-offset-5.col-md-1.col-md-offset-0.col-lg-1.col-lg-offset-0{
		border-left: none!important;
	}
} 

