#myCarousel{
	margin-bottom: 40px;
}
.carousel-control.left {    
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.0001) 100%)!important;     
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.2) 100%)!important;
}


.carousel-indicators{
	bottom:-40px;
}
.carousel-indicators li{

	border: 1px solid #071444!important;
}

.carousel-indicators li:hover{

	background:  #647ac9!important;
}

.carousel-indicators li.active{
	background:  #282C72!important;
}

.welcome-page ul li{
	list-style-type: square;
}